* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* shared css */
.container {
    width: 80%;
    margin: 0 auto;
}

.section-padding {
    padding: 90px 0;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

.btn {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* Header Section */
header {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
}

.banner-content {
    padding-top: 50px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.banner-img img {
    width: 425px;
    margin-bottom: 100px;
}

/* Featured Flowers */

.featured-single-item {
    width: 300px;
    height: 350px;
    text-align: center;
    background-color: aqua;
    position: relative;
    border-radius: 300px 300px 0px 0px;
}


.featured-img {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.featured-img-name {
    width: 300px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

.featured-items-container {
    display: flex;
    justify-content: space-between;
}

.frist-item {
    background: rgba(167, 33, 98, 0.15);
}

.second-item {
    background: rgba(5, 151, 160, 0.15);
    position: relative;

}

.featured-second-img {
    position: absolute;
    bottom: 40px;
}

.third-item {
    background: rgba(71, 125, 17, 0.15);
}

/* HotDeal Section */
.hotdeal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05)
}

.hotdeal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hotdeal-content {
    text-align: center;
}

.bg-primary {
    color: #E55473;
}

.hotdeal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hotdeal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.hotdeal-btn {
    text-align: center;
}

/* Instagram Section */
.isnstagram-box-sontainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.instagram-box {
    width: 250px;
    box-shadow: -0px -0px 8px rgba(148, 148, 148, 0.3);
}

/* Shopping Section */
.shopping-section {
    background-image: url("../Flower Asset/Rectangle 9.png");
    margin-bottom: 90px;
}

.shopping-form {
    text-align: center;
}

.shopping-form input {
    padding: 10px 20px;
    border: none;
    background-color: #E55473;
    color: #fff;
    margin-right: 20px;
    border-radius: 3px;
}

.shopping-form input[placeholder="Enter Your Email Here"] {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.shopping-form input:nth-child(1) {
    width: 500px;
    padding: 10px;
    background-color: #fff;
    box-shadow: -0px -0px 8px rgb(202, 200, 200);
}
